.header {
  background-image: url("/assets/header_Image.png");
  background-repeat: no-repeat;
  background-size: cover; /* Ensure full coverage of the screen */
  background-position: center;
  width: 100%;
  height: 100vh; /* Maintain aspect ratio */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: relative;
}
.header .headerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.header .headerContent img {
  width: 250px; /* Scale logo relative to screen width */
  margin-top: 5%;
}
.header .headerContent h3 {
  color: white;
  font-size: 2.8rem; /* Scale font size */
  width: 80%;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
}
.header .headerContent .headerButton {
  display: flex;
  gap: 2%; /* Adjust spacing between buttons */
  margin: 2%;
}
.header .headerContent .headerButton button {
  width: 190px;
  height: 45px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.header .headerContent .downloadNow {
  color: white;
  background: var(--primary-colour);
  cursor: pointer;
}
.header .headerContent .chatAi {
  background-color: #ffffff;
  color: #3d8234;
}

/* Media Query for Smaller Screens */
@media screen and (max-width: 900px) {
    .header .headerContent img {
      width: 200px;
    }
  
    .header .headerContent h3 {
      font-size: 2.2rem; /* Reduce font size */
      width: 90%; /* Adjust text width */
    }
  
    .header .headerContent .headerButton {
       /* Stack buttons vertically */
      gap: 10px; /* Reduce gap between buttons */
      margin: 50px 0;
    }
  }
@media screen and (max-width: 768px) {
  .header .headerContent img {
    width: 180px;
    margin-top: 80px;
  }

  .header .headerContent h3 {
    font-size: 1.7rem; /* Reduce font size */
    width: 90%; /* Adjust text width */
  }

  .header .headerContent .headerButton {
    flex-direction: column; /* Stack buttons vertically */
    gap: 10px; /* Reduce gap between buttons */
    margin: 40px 0;
  }
}
@media screen and (max-width: 480px) {
  .header .headerContent img {
    margin-top: 120px;
    width: 150px; /* Even smaller logo */
  }

  .header .headerContent h3 {
    font-size: 1.25rem; /* Further reduce font size */
    margin: 15px auto;
  }

  .header .headerContent .headerButton button {
    height: 40px; /* Smaller buttons for compact layout */
  }
}
